ManagerFile/.vs/ManagerFile/v16/Server/sqlite3/storage.ide
ManagerFile/.vs/ManagerFile/v16/Server/sqlite3/storage.ide-shm
ManagerFile/.vs/ManagerFile/v16/Server/sqlite3/storage.ide-wal
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.AssemblyInfoInputs.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.assets.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.csprojAssemblyReference.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.RazorAssemblyInfo.cache
ManagerFile/ManagerFile/obj/ManagerFile.csproj.nuget.cache
ManagerFile/ManagerFile/obj/ManagerFile.csproj.nuget.dgspec.json
ManagerFile/ManagerFile/obj/ManagerFile.csproj.nuget.g.props
ManagerFile/ManagerFile/obj/ManagerFile.csproj.nuget.g.targets
ManagerFile/ManagerFile/obj/project.assets.json
ManagerFile/.vs/ManagerFile/v16/.suo
ManagerFile/.vs/ManagerFile/v16/Server/sqlite3/db.lock
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.AssemblyInfo.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.RazorAssemblyInfo.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.csproj.FileListAbsolute.txt
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.csproj.CopyComplete
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.dll
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.pdb
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.RazorCoreGenerate.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.RazorTargetAssemblyInfo.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.RazorTargetAssemblyInfo.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.TagHelpers.input.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.TagHelpers.output.cache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.Views.dll
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/ManagerFile.Views.pdb
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/appsettings.Development.json
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/appsettings.json
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.deps.json
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.dll
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.pdb
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.runtimeconfig.dev.json
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.runtimeconfig.json
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.Views.dll
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/ManagerFile.Views.pdb
ManagerFile/ManagerFile/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
ManagerFile/.vs/ManagerFile/config/applicationhost.config
ManagerFile/.vs/ManagerFile/DesignTimeBuild/.dtbcache
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Home/Vue.cshtml.g.cs
ManagerFile/ManagerFile/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_VueLayout.cshtml.g.cs
